/*   CSS reset     */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
p{
  margin: 0;
}

/* Make images easier to work with */
img{
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  position: relative;
}

html {
  font-size: 62.5%; /* set 1rem equal to 10px */
}

:root {
  --White: hsl(0, 0%, 100%);
  --Lightgrayishviolet: hsl(270, 3%, 87%);
  --Darkgrayishviolet: hsl(279, 6%, 55%);
  --Verydarkviolet: hsl(278, 68%, 11%);
  --Red: hsl(0, 100%, 66%);
}

/*   CSS for container */

/* container  */
.container {
  max-width: 1440px;
  height: max-content;
  min-height: 100vh;
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35% 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--White);
}

/*   CSS for form  */
#form {
  max-width: 410px;
}
.input__div {
  margin-bottom: 8px;
}

/*     style form inputs    */
.input {
  border: 2px solid var(--Lightgrayishviolet);
  color: var(--Verydarkviolet);
  border-radius: 5px;
  outline: none;
  width: 100%;
  padding: 8px;
  transition: 0.25s;
}
.input:focus,
.input:hover {
  border-color: var(--Verydarkviolet);
}

/*style for wrong input border*/
.red,
.input.red:hover,
.input.red:focus {
  border-color: var(--Red);
}

/*    style for error msg     */
.error {
  height: 20px;
  font-size: 1rem;
}

.error.show {
  color: var(--Red);
  font-size: 1.3rem;
  transition: 0.25s;
}

/*    style for input label   */
.input__label {
  letter-spacing: 1px;
  font-size: 1.6rem;
  padding-bottom: 5px;
  color: var(--Verydarkviolet);
}

/*    style for button*/
.confirm__btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--White);
  background-color: var(--Verydarkviolet);
}

/*    grid to adjust expiray date month and cvc number in one  line   */
.input__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.date__input {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.cc__cvc {
  grid-column-start: 3;
  grid-column-end: 5;
}
.date__label {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*      CSS for cards     */

/*     style for card image wrapper    */
.cc__img_container {
  position: relative;
  width: 400px;
  color: var(--White);
}

/*    style for both cards div front or back    */
.cc__front {
  right: 30px;
  bottom: 20px;
  top: 5px;
}
.cc__back {
  left: 30px;
  top: 20px;
}

/*     style for text on the cards      */
.p__absolute {
  position: absolute;
  font-size: 1.6rem;
}

/*      card logo  */
.cc__branding {
  top: 8%;
  left: 7%;
}

/*      card numbert      */

.cc__number {
  top: 50%;
  left: 6%;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

/*  card holder name     */
.cc__holder {
  bottom: 8%;
  left: 6%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*  card expiry date year and month    */
.cc__date {
  bottom: 8%;
  right: 6%;
}

/* card cvc number*/
.cvc__number {
  top: 44%;
  right: 11%;
  letter-spacing: 2px;
}


/*     complete states     */
.complete__status.show {
  transition: 0.25s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

/*      complete states complete icon div*/
.complete__status .img__div {
  width: 70px;
  margin-bottom: 20px;
}

/*   complete states heading      */
.complete__status h1 {
  padding-bottom: 10px;
  color: var(--Verydarkviolet);
  font-weight: 500;
}

/*   complete states paragraph    */
.complete__status p {
  padding-bottom: 30px;
  color: var(--Darkgrayishviolet);
}



/*    style for mainpulate DOM with javascript */
.display__none {
  display: none;
}
.complete__status {
  display: none;
}

/*     MEDIA QUERIES    */

@media (max-width: 950px) {

  /*   main caontainer     */
  .container {
    flex-direction: column;
    justify-content: flex-start;
    background-image: none;
  }

  #form {
    padding-bottom: 10px;
  }

  /*  card image wrapper   */
  .cc__img_container {
    width: 360px;
  }

/* left container is card container */
  .left__container {
    width: 100%;
    display: grid;
    place-items: center;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 65%;
    background-position: cover;
  }

  /* card front sight      */
  .cc__front {
    top: 140px;
    z-index: 9999;
    right: 35px;
  }

  /* card back sight*/
  .cc__back {
    top: -180px;
    left: 35px;
  }
}

@media (max-width: 500px) {
  /*form     */
  #form {
    max-width: 345px;
  }

  .complete__status.show {
    width: 345px;
  }

  /* card image wrapper    */
  .cc__img_container {
    width: 310px;
  }

  .cc__front {
    top: 125px;
    right: 20px;
  }
  .cc__back {
    top: -150px;
    left: 15px;
  }

  /* card branding logo    */
  .cc__branding {
    width: 80px;
  }

  /*  cvc number    */
  .cvc__number {
    top: 40%;
    font-size: 2rem;
    letter-spacing: 0;
  }

  /*      card numbert      */
  .cc__number {
    font-size: 2.2rem;
    letter-spacing: 0;
  }
}

